@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.clip-notch {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}